html, body {
  
  height: 100%;
  width: 100%;
  margin:0 auto;
  
}

#map {
  border-style: solid;
  border-width: 1px;
  position: fixed;
  transform: translateY(-300px);
  bottom: -100%;

  /* position: fixed;
  bottom: 0%; */
  z-index: 2;
  
  width: 500px;
  height: 300px;
  display: none;
}


#pano {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  z-index: 1;
}

#mapButton {
  position: fixed; 
  z-index: 3;
  bottom: 0;
  left: 0;
 
}


#result{
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  height: 400px;
  width: 600px;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  z-index: 0;
  display: none;
}

#location{
  background-color: rgb(52,58,64);
  color:white;
  top: 75%;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  font-family: monospace;
}

#distance{
  background-color: rgb(52,58,64);
  color:white;
  width: 75%;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  font-family: monospace;
}

#score{
  background-color: rgb(52,58,64);
  color:white;
  width: 75%;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  font-family: monospace;
}



#guess{
  display: none;
  position: fixed;
  bottom: 320px; 
  width: 200px;
  left: 150px;
  z-index: 3;
}

#next{
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  /* transform: translate(100px, -48px); */
  width: 200px;
  z-index: 3;
  display: none;
}



h1{
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  position: fixed;
  text-align: center;
  z-index: 2;
  font-family: monospace;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  
}

/* #next{
  margin-left: 100px;
} */


#center{
  text-align: center;
}

#totaldistance{
  font-size: 30px;
  text-align: center;
  font-family: monospace;
  position: fixed;
  top: 10px;
  right: 0px;
  transform: translateX(-50%);
  color: black;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  z-index: 2;

}



#round {
  font-size: 30px;
  text-align: center;
  font-family: monospace;
  position: fixed;
  top: 10px;
  left: 100px;
  transform: translateX(-50%);
  color: black;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  z-index: 2;

}

